<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parallel Coordinates</title>
    <script  type="text/javascript" src="../static/lib/js/d3.js"></script>
    <script  type="text/javascript" src="../static/lib/js/d3.parcoords.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/lib/css/d3.parcoords.css ">
</head>
<body>
<div id="example" class="parcoords" style="width:800px;height:500px"></div>

<script type="text/javascript" src="../static/lib/js/queue.js"> </script>
<!-- Draw the parallel coordinate  -->
<script type="text/javascript" src="../static/my_js/simple_coord2.js"> </script>

</body>
</html>