<!DOCTYPE html>
<html>
<head>
  <title>BDV &raquo; Suffix analysis and profiles per variable </title>

    <link rel="stylesheet" type="text/css" href="../static/lib/js/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/lib/css/keen-dashboards.css" />
    <link rel="stylesheet" type="text/css" href="../static/lib/css/dc.css" />
    <link rel="stylesheet" type="text/css" href="../static/lib/js/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/sankey.css"/>
    <link rel="stylesheet" href="/static/css/scatter.css" charset="utf-8">
</head>
<body class="application">

<div  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div id="menu_bar" class="container-fluid">
        <!---HERE MY MENU-->
    </div>
</div>

<span class="btn btn-xs glyphicon glyphicon-adjust" data-toggle="collapse" data-target="#left-panel"></span>

<div class="container-fluid" role="navigation">
    <!----UP PANEL  --->
    <div class="row">
        <!----LEFT PANEL  --->
        <div id="left-panel" class="col-sm-pull-6 collapse">

            <div id="tag_selection" class="col-sm-4">
                <!-- category_buttons !-->
                <div class="chart-wrapper" draggable="true" >
                    <div class="chart-title text-info" > <strong>Select a category:</strong></div>
                    <div class="chart-notes"> Please, select a category</div>
                    <div id="variable_category_buttons_0" class="chart-stage"></div>
                        <!--img data-src="holder.js/100%x650/white"!-->
                    <div class="chart-title text-info" > <strong>Select a variable to work with:</strong></div>
                    <div class="chart-notes"> Please, select one variable</div>
                    <div id="variable_panel" class="chart-stage"></div>
                            <!--img data-src="holder.js/100%x650/white"!-->
                    <div class="chart-title text-info" > <strong>Your selected variable to plot:</strong></div>
                    <div id="variable_container" class="chart-stage"></div>
                            <!--img data-src="holder.js/100%x650/white"!-->
                </div>
                <!-- category_buttons -->

                <!-- What is this? !-->
                <div class="chart-wrapper">
                    <div class="chart-title"><strong> What is this?: </strong> </div>
                    <div id="what_is_this" class="chart-stage">
                        A panel for discovering the outlier profiles.
                    </div>
                    <div class="chart-notes"> This panel shows all the possible profiles for the chosen variable.
                        Profiles that are less frequent have a small box to represent. </div>
                </div>
                <!-- What is this? !-->
            </div>

            <div id="time_selection" class="col-sm-4">
                <!-- Date container !-->
                <div class="chart-wrapper" draggable="true">
                    <!-- CLICK HERE TO UPDATE THE DATE -->
                    <div class="chart-title row0">
                        <div class="text-left" style="float:left">
                            <strong>Date container: </strong>
                        </div>
                        <div class="text-right" style="float: right">
                            <a id="change_date" href="#" class="btn btn-xs" onclick="apply_change_date()">
                                <span class="glyphicon glyphicon-export"></span>
                                Apply
                            </a>
                        </div>
                    </div>
                    <!-- CLICK HERE TO UPDATE THE DATE -->

                    <!-- Contains the date selector !-->
                    <div class="chart-stage">
                        <div id="sandbox-container">
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" id= "start_time" value="start"  name="start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" id= "end_time" value="end" name="end" />
                            </div>
                            <div class="chart-notes" id="alert_time" > Select a date range, select date start and date end.</div>
                        </div>
                        <div class="chart-title text-info" > <strong>Day selection:</strong></div>
                        <div id="day_selection" class="chart-stage"></div>
                        <div class="chart-title text-info" > <strong>Season selection:</strong></div>
                        <div id="season_selection" class="chart-stage"></div>
                    </div>
                    <!-- Contains the date selector !-->


                </div>
                <!-- Date container !-->
            </div>

        </div>
        <!----LEFT PANEL  --->
        <!----RIGHT PANEL  --->
        <div class="center">

            <!--- CREATE CHART HERE --->
            <!--- EDGE CHART  --->
            <!-- TODO: update the name of chart_title, chart_update_button, chart------->
            <!-- adapt the javascript function for updating
            <   3  names must correspond (Ex: chart -> chart1_title, chart2_button, etc...) --->

                <div >
                    <div class="chart-wrapper">
                        <div id="sankey_chart_title"  class="chart-title text-info"> <strong>Loading... </strong> </div>
                            <div >
                                <!-- CLICK HERE TO UPDATE THE CHART -->
                                <a id="sankey_chart_update_button" href="#" class="btn btn-xs" onclick="apply_change_date()">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    Loading data... wait please.
                                </a>
                            </div>
                        </div>
                    <div class="chart-stage">
                            <!-- HERE THE CHART  -->
                            <div id="sankey_chart" class="white-chart"></div>
                    </div>
                </div>
            <!--- END CHART  --->


        </div>

    </div>
    <!----END UP PANEL  --->

</div>

<hr>

<p class="small text-muted">Powered by <a href="https://keen.io">Keen IO</a></p>



<!--- Library for Keen IO template -->
<script type="text/javascript" src="../static/lib/js/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/lib/js/holderjs/holder.js"></script>
<script>Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });</script>
<script type="text/javascript" src="../static/lib/js/keen-js/dist/keen.min.js"></script>
<!--script type="text/javascript" src="../static/lib/js/meta.js"></script-->
<!--- Library for Keen IO template -->

<!--- library for charts and crossfilter -->
<script type="text/javascript" src="../static/lib/js/queue.js"></script>
<script type="text/javascript" src="../static/lib/js/d3.js"></script>
<script type="text/javascript" src="../static/lib/js/crossfilter.js"></script>
<script type="text/javascript" src="../static/lib/js/dc.js"></script>
<script type="text/javascript" src="../static/lib/js/d3-tip.js"></script>
<!-- datepicker -->
<script type="text/javascript" src="../static/lib/js/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<!-- datepicker -->

<!-- sankey diagram library -->
<script type="text/javascript" src="../static/lib/js/sankey.js"></script>
<!-- sankey diagram library -->

<!--- Script for menu and charts   -->
<script type="text/javascript" src="../static/my_js/menu_profile.js"></script>
<script type="text/javascript" src="../static/my_js/profile_chart.js"></script>
<script type="text/javascript" src="../static/my_js/simple_heatmap.js"></script>
<!--- Script for menu and charts   -->

</body>
</html>
